.cat-icon {
  animation: cat-icon-bounce 1.5s;
  animation-timing-function: linear(
    0,
    0.174 9.7%,
    0.339 15.6%,
    0.587 21.1%,
    0.998 27.7%,
    0.657 33.7%,
    0.581 36%,
    0.556 38.2%,
    0.581 40.3%,
    0.653 42.4%,
    0.997 48%,
    0.791 51.8%,
    0.746 53.3%,
    0.731 54.8%,
    0.746 56.3%,
    0.79 57.8%,
    0.999 62%,
    0.876 64.9%,
    0.839 67.3%,
    0.872 69.7%,
    0.999 73.4%,
    0.933 75.7%,
    0.912 77.8%,
    0.93 79.8%,
    1 83.2%,
    0.971 85.1%,
    0.962 86.8%,
    1 92%,
    0.991 94.5%,
    1
  );
}

@keyframes cat-icon-bounce {
  0% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}
